<nav class="navbar navbar-toggleable navbar-light bg-faded" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Birdee</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/journal">Journal</a>
      </li>
    </ul>
  </div>
</nav>

