<footer class="page-footer footer center-on-small-only" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-5">
                <h5 class="title font-bold"><strong>Carrie Happoldt</strong></h5>
                <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 108px;">
                <p>This app shows understanding of:</p>
                    <ul>
                        <li>Angular4</li>
                        <li>Express</li>
                        <li>Node</li>
                        <li>TypeScript</li>
                        <li>Bootstrap</li>
                        <li>HTML/CSS</li>
                    </ul>            
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5 class="title font-bold"><strong>Contact</strong></h5>
                <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 55px;">
                <p><i></i>Cell: 303-396-5285</p>
                <p><i></i>carrie@happoldt.com</p>
                <p><i></i><a class="github" href="https://github.com/CarrieHappoldt">GitHib</a></p>
            </div>
           
        </div>
    </div>
</footer>
